@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll globally */
html {
  scroll-behavior: smooth;
}

/* Custom global font */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

/* Remove scrollbar for clean UI */
::-webkit-scrollbar {
  width: 0px;
}
